{% extends "panel.html" %}
{% block title %}Identify {% end %}
{% block panelid %}identizone{%end%}
{% block panelbody %}
   <div id="identify">
   </div>
   <br>
   <div id="varinputdiv" class="form-group">
      <label class="control-label" for="ie1">Input a variable name</label>
      <input type="text" class="form-control" id="ie1">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
   </div>
   <hr>
   <div id="ruleinputdiv" class="form-group">
      <label class="control-label" for="ie2">Input a rule name</label>
      <input type="text" class="form-control" id="ie2">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
   </div>

   <button id="addrule" type="button" class="btn btn-default">Add a rule</button>
{% end %}

