<!DOCTYPE html>
<html lang="en">
   <head>
      {% include "header.html" %}
   </head>
   <body>
      <img id="loading-image" src="{{ static_url("images/loader.gif") }}" style="position:fixed; left:50%; top:50%; display:none; z-index:1000">

      {% include "nav.html" %}

      <div class="container">
         <br>
         {% module Template("html/panels/preview.html", repository=repository) %}
         <hr>
         {% module Template("html/panels/identify.html") %}
         <hr>
         {% module Template("html/panels/rules.html", hierarchy=hierarchy) %}
         <hr>
         {% module Template("html/panels/results.html") %}

         <footer>
            <p>&copy; 2016 kandu, Inc.</p>
         </footer>
      </div> <!-- /container -->

      <script>
{% include "../js/document.js" %}
      </script>
   </body>
</html>

