/* Move down content because we have a fixed navbar that is 50px tall */
body {
  position:relative;
  padding-top: 50px;
  padding-bottom: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: justify;
}
.popover {
  width:500px;
}

#repository{
   height:300px;
   overflow-y:scroll;
}
#stats{
   height:300px;
   overflow-y:scroll;
}

#rulesOne{
   overflow-x:scroll;
}
